.claims {
  display: flex;
  flex-direction: column;
  margin-top: var(--vertical-space);
  gap: 1rem;

  &_item {
    padding-bottom: calc(var(--vertical-space) * 2);
    &:not(:last-of-type) {
      border-bottom: 1px solid rgb(var(--border-color));
    }

    &-wrapper {
      display: grid;
      grid-template-columns: auto 10rem;
    }

    &-info {
      display: flex;
      gap: 1rem;
      align-items: center;

      &-verified {
        color: rgb(var(--primary-color));
        background-color: rgb(var(--primary-color-background));
        font-size: 0.875rem;
        display: flex;
        padding: 0.375rem 0.75rem;
        font-weight: bold;
        border-radius: var(--border-radius);
      }

      &-date {
        padding: var(--vertical-space) 0;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        color: rgb(var(--text-color-alt));
        font-size: 0.875rem;
      }
    }

    &-content {
      margin-bottom: var(--vertical-space);
      display: flex;
      gap: 0.5rem;
      flex-direction: column;

      &-link {
        font-size: 0.875rem;
        color: rgb(var(--primary-color));
      }
    }

    &-score {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: var(--vertical-space) 0;
      &-value {
        font-size: 1.5rem;
        color: rgb(var(--primary-color));
        font-weight: bold;
      }
    }

    &-ai {
      margin-left: var(--inner-horizontal-space);
      margin-top: var(--vertical-space);
      gap: 0.5rem;
      display: flex;
      flex-direction: column;

      &-title {
        display: flex;
        gap: 0.375rem;

        svg {
          color: rgb(var(--primary-color));
        }
      }
    }
  }
}
