.user_item {
  display: grid;
  grid-template-columns: 2rem auto;
  gap: 1rem;
  align-items: center;

  &-img {
    width: 2rem;
    img {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }
  }

  &-username {
    font-size: 0.875rem;
    font-weight: bold;
  }

  &:hover {
    .user_item-username {
      color: rgb(var(--primary-color));
    }
  }
}
